

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

#pac-container {
  width: 50%;
    background-color: rgb(246, 246, 246);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
}

.pac-card {
  height: 100%;
  width: 100%;
}

.weather {
  width: 40%;
  border: 0px solid #fff;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  padding: 2rem;
  background-color: #86b9e0;
  display: flex;
  justify-content: space-around;
}

.weatherDetails {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.hidden{
  display: none;
}

#tempDeg{
  font-size: xxx-large;
}

/* #pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
  border: 1px solid #999;
  border-radius: 10px;
} Teach them to move from here to bootstrap*/

#pac-input:focus {
  border-color: #4d90fe;
}

#pac-input {
  width: 50%;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}