

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#pac-container {
  width: 50%;
  margin-left: 12px;
}

/* #pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
  border: 1px solid #999;
  border-radius: 10px;
} Teach them to move from here to bootstrap*/

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}