body {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none
}

.display {
    display: block
}


#flickrLoader p {
    background: url(../images/flickr.png) 0 7px no-repeat;
    padding-left: 39px
}


section {
    padding: 3% 10%;
}

#section_header img {
    margin: 30px 50px 0
}

#section_header {
    padding-top: 70px;
    text-align: center;
    background: #8fcccc;
}

#section_hello {
    background-color: #1abc96;
    color: #fff
}

#section_image_search {
    background-color: #407eb8;
    color: #fff
}


